.project-container {
  display: flex;
  height: 50vh;
  width: 100%;
}

.project-info {
  width: 50%;
  order: 1;
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  text-align: justify;
  line-height: 1.6;
  margin: auto;
}

.project-wrapper {
  margin-left: 10%;
}

.image-container {
  width: 50%;
  order: 2;
  margin: auto;
}

.image-container img {
  margin: auto;
  display: block;
}

.project-buttons {
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: #fff;
}

@media only screen and (max-width: 1600px) {
  .image-container {
    width: 25%;
  }
}

@media only screen and (max-width: 768px) {
  .project-container {
    height: 100vh;
    flex-direction: column;
    margin-bottom: 70px;
  }

  .project-info {
    width: 100%;
    flex-direction: column;
  }

  .image-container {
    width: 100%;
    flex-direction: column;
    padding: 30px;
  }

  .project-wrapper {
    margin: auto;
    padding: 50px;
    text-align: justify;
  }
}
