* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.icon-box h1 {
  margin: auto;
  padding-top: 40%;
  padding-left: 20%;
}

.section-title {
  font-weight: 600;
  font-size: 26px;
  text-transform: uppercase;
}

.btn {
  text-transform: uppercase;
  color: #fff;
  background-color: #1f2235;
  border: 1px solid #fff;
  padding: 0.7rem;
  cursor: pointer;
  font-size: 14px;
  font-weight: 300;
}

button:hover {
  font-weight: 400;
  background-color: #b16d8c;
  transform: scale(1.1);
  transition: all 0.5s ease-out;
}

.rose-color {
  color: #b16d8c;
}
